.triangle-border{
    position: relative;
    padding: 8px;
    margin: 1em 0 3em;
    border: 2px solid #5a8f00;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;	
	font-family: Verdana;
}

.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #5a8f00 transparent;
    display: block;
    width: 0;
}

.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 27px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.filterIcon{
	border: solid #5a8f00 2px;
	padding-left:10px;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	margin-right: 13px;
	font-family: Verdana;
	font-size:14px;
	line-height:40px;
	display: inline;
	
}

.removeFilter {
	position:absolute;
	cursor:pointer;
	width:19px;
	height:19px;
	border:2px solid #ffffff;
	border-radius:12px;
	background-color:red;
	overflow:visible;
	margin-top:-2px;
}

.removeFilterX{
	text-align:center;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	color:#ffffff;
	height:18px;
	width:18px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-9px;
	margin-left:-9px;
	font-family:arial, sans-serif;
	padding-top:0px;
	cursor:pointer;
}

.addFilter {
	position:absolute;
	cursor:pointer;
	width:19px;
	height:19px;
	border:2px solid #ffffff;
	border-radius:12px;
	background-color:#5a8f00;
	overflow:visible;
	margin-top:-2px;
	cursor:pointer;
}

.addFilterPlus{
	text-align:center;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	color:#ffffff;
	height:18px;
	width:18px;
	position:absolute;
	top:60%;
	left:50%;
	margin-top:-9px;
	margin-left:-9px;
	font-family:arial, sans-serif;
	padding-top:0px;
	cursor:pointer;
}

.addFilterButton{
	color:white;
	background-color: #5a8f00;
	font-weight:bold;
	font-size:14px;
	padding:2px 5px 2px 5px;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	cursor:pointer;
}

.addFilterButton:hover{
	background-color: #9cbb66;
}

.filterSelect{
	font-family: Verdana;
}
